.mainButton {
    color:#e67e22 !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.mainButton:hover {
    background-color: #e67e22 !important;
    color: white !important;
}
.bodyBackground {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(http://bg.mealtrip.com/00_upbank/bb_fblogb_img_rs/2017/aID35/pam-smith-salmon-0928-15-008.jpg);
    min-height: 100vh;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#bodyContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding-top: 8px;
    height: 100%;
    margin:0;
    align-items: center;
}
#contentContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    max-width: none;
    margin-top: 20%;
    padding: 8px 8px 8px 10%;
}
#buttonContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 600px) {
    #buttonContainer {
        flex-direction: column;
    }
}